{% macro displaySourceList(source_list) %}

    {% for source in source_list %}

        <li>
            <a href="/source/{{ source.id }}">
                {{source.name}}
            </a>
        </li>

    {% endfor %}

{% endmacro %}


{% macro displayArticlesList(article_list) %}

    {% for article in article_list %}

        <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2" style="margin-top: 20px;">

            <a target=_blank href={{article.url}}>

                <img src="{{ article.urlToImage }}" alt="{{ article.title }}" class="img-responsive">

                    <li class="text-center" style="list-style-type: none;">

                      {{ article.title|truncate(100)}}

                    </li>

            </a>

        </div>

    {% endfor %}

{% endmacro %}
